<html>
  <head>
  <title>Hangman</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
	<style>
	body {
		background-color: <%= color %>;
	}
	</style>
  
  <%= yield %>

  <div id="new_game">
  	<a href='/new_game'>New Game?</a>
  </div>
  </body>
</html>  